:root {
    --dark-blue-color: #41F6D7;
    --light-blue-color:#B8FFEC;
  }
  
@font-face {
    font-family: 'TTLakes-Regular';
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakesCondensed-ExtraLight';
    src: url('../fonts/TTLakesCondensed-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes-Light';
    src: url('../fonts/TTLakes-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakesCondensed-DemiBold';
    src: url('../fonts/TTLakesCondensed-DemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakesCondensed-Light';
    src: url('../fonts/TTLakesCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*TTLakesCondensed-Light*/
#root{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
}
html, body {
    height: 100vh;
  }

  body {
    display: flex;
    align-items: stretch;
    margin: 0;
  }
  #root {
    width: 100%
  }

.wrapper{
    position: absolute;
    width: 320px;
    left: 0;
    top: 0;
    background-color: #fff;
    height:100%;
    position: relative;
    box-shadow: 5px 0 50px 0 rgb(107, 107, 106);
}

.upperMenu__wrapper{
    margin:0;
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    padding: 15px 0px;
  
}
.upperMenu__containerLeft{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: -25px;

}
.upperMenu__containerRight{
    margin-right: -30px;
}
.upperMenu__burgerIcon{
    background: url("../images/burger.svg") no-repeat 50% 50%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
.upperMenu__burgerIcon:hover, .upperMenu__burgerIcon:active, .upperMenu__burgerIcon:focus{
    outline:2px solid var(--dark-blue-color);
}
.upperMenu__callIcon{
    background: url("../images/call.svg") no-repeat 50% 50%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
.upperMenu__callIcon:hover, .upperMenu__callIcon:active, .upperMenu__callIcon:focus{
    outline:2px solid var(--dark-blue-color);
}
.upperMenu__burger{
    vertical-align:middle;
    margin-left: 10px;
    margin-right: 10px;

}
.upperMenu__group{
    vertical-align: middle;
   
}
.upperMenu__divider{
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}
.upperMenu__repair{
    vertical-align: middle;
    /*border: 1px solid #000;
    margin-left: 10px;*/
}
.upperMenu__check{
    vertical-align: middle;
}

/* div.upperMenu img{

    margin: 15px auto;

} */

.about__wrapper{
    margin-top: -10px;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
    background-image: url("../images/highlight.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
   
   
}
.about__highlight{
    left: 0px;
    position: absolute;
}

.about__title{
    margin-left: 15px;
    position: relative;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'TTLakesCondensed-ExtraLight', sans-serif;
    
}

.links__services{
    font-family: 'TTLakes-Regular', sans-serif;
    margin-bottom: 25px;
    text-decoration: none;
    color:black;
}
.links__li{
    list-style-type: none;
    margin-left: -25px;
    padding-left: 0;
}

/* 
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #807575;

} */
.bottom-menu__buttons{
     
}
.bottom-menu__call{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/call.svg") no-repeat 50% 50%;
    border: none;
    margin-right: 10px;
}
.bottom-menu__call:hover{
    outline:2px solid var(--dark-blue-color);
}
.bottom-menu__chat{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/chat.svg") no-repeat 50% 50%;
    border: none;
    margin-right: 10px;
}
.bottom-menu__chat:hover{
    outline:2px solid var(--dark-blue-color);
}

.bottom-menu__containerLeft>span{
    margin-right: 10px;
}
.bottom-menu__profile{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/profile.svg") no-repeat 50% 50%;
    border: none;
}
.bottom-menu__profile:hover{
    outline:2px solid var(--dark-blue-color);
}


.bottom-menu__languages{
    display: flex;
    column-gap: 10px;
}
.bottom-menu__ru{
    color:#7E7E82;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-menu__wrapper{
    margin-left: 20px;
    margin-bottom: 15px;
}
.bottom-menu__mail{
    font-family: 'TTLakes-Light', sans-serif;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 200;
}
.bottom-menu__mail-link{
    text-decoration: none;
    color:black;
}
.bottom-menu__phone{
    font-family: 'TTLakesCondensed-DemiBold', sans-serif;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 20px;
}
.bottom-menu__phone-link{
    text-decoration: none;
    color:black;
}

.bottom-menu__languages{
    font-family: 'TTLakesCondensed-Light', sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bottom-menu__btn{
    background-color: #fff;
    border: none;
    border-radius: 10%;
   
}
.bottom-menu__btn:hover, .bottom-menu__btn:active, .bottom-menu__btn:focus{
    outline: 2px solid var(--dark-blue-color);
  
}